/* base */

@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* component */

/* CUSTOM STYLE BELOW THIS COMMENT LINE */


.logo {
    width: 50px;

}
.main-title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;

}
.main-description {
    text-align: center;
    font-size: 20px;


}

